
body {
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, auto);
  padding: 10px 150px 10px 150px;
}

@media (min-width: 1100px){
  .grid-container {
    max-width: 777px;
  }
}

@media (max-width: 770px) {
  .grid-container {
    max-width: 750px;
    padding: 0px;
  }
}

@media (max-width: 600px) {
  .grid-container {
    max-width: 550px;
    padding: 0;
  }
}

.grid-header-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #c9d1f5;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.justify-left {
  text-align: left
}

.justify-end {
  text-align: right;
}

.justify-center {
  text-align: center;
}

.timer {
  color: #5168e9;
  font-size: 15px;
  font-weight: bold;
}

.restart-button {
  width: 15em;
  height: 3em;
  color: white;
  background-color: #5168e9;
  border: 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.game-status-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(24, 21, 16);
  font-weight: bold;
}

.card {
  width: 100%;
  height: 100%;
  max-height: 173px;
  background-color: white;
}

.card-front {
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.card-back {
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}


